name: Generate and Release PDFs

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Ensure we have tags and history for commit message

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install weasyprint

      - name: Install pandoc
        uses: pandoc/actions/setup@v1

      - name: Run Build Script
        run: python ./scripts/build.py

      - name: Get latest commit message
        id: commit_message
        run: |
          echo "msg<<EOF" >> $GITHUB_OUTPUT
          git log -1 --pretty=%B >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Upload PDFs as Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: eda-rpg-pdfs
          path: build/*.pdf

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: build/*.pdf
          tag_name: ${{ github.ref_name }}
          name: "Eda RPG - ${{ github.ref_name }}"
          body: ${{ steps.commit_message.outputs.msg }}
          draft: false
          prerelease: false
          make_latest: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
